<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <tx:annotation-driven />

    <bean id="datasource_configProject" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/configProjectDatasource" />
        <property name="lookupOnStartup" value="true" />
        <property name="proxyInterface" value="javax.sql.DataSource" />
    </bean>

    <!-- gerenciador de transacao utilizado para acesso a dados e integrado
        com o spring -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="datasource_configProject" />
    </bean>

    <!-- Mapeamentos utilizado para o MyBatis 3.x -->
    <bean id="sqlSessionFactoryConfigProject" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasource_configProject" />
        <property name="configLocation" value="classpath:config-project-sqlmap-mybatis.xml" />
    </bean>

    <bean id="sqlSessionTemplateConfigProject" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0">
            <ref bean="sqlSessionFactoryConfigProject" />
        </constructor-arg>
    </bean>
</beans>
